<footer class="site-footer">
	<div class="gotop">
		<a class="totop-btn" href="#"><i class="fa fa-chevron-up"></i></a>
	</div>
	<div class="copyright">
		All content copyright Artur Meyster &copy; 2014 <a href="/">{{@blog.title}}</a> All Rights Reserved.
		<br/>
		Proudly published with <a class="icon-ghost" href="http://ghost.org">Ghost</a>
	</div>
</footer>