<div class="widget">
	<h3 class="widget-title">Newsletter</h3>
	<div class="widget-content">
		<p>
			Sign up to receive email updates and to hear what's going on with me!
		</p>
		<form id="mc-form" action="http://arturmeyster.us9.list-manage.com/subscribe?u=6b4dcde3e32157839f6edc1de&id=601799f673"" method="post" novalidate="true" target="_blank">
			<div class="input-group">
				<input id="mc-email" type="email" name="EMAIL" placeholder="Email address" class="form-control" required >
		      	<span class="input-group-btn">
		        	<button class="btn btn-theme" type="submit">Subscribe</button>
		      	</span>
		    </div>
	    </form>
	</div>
</div>