<div class="widget">
	<h3 class="widget-title">Popular Posts</h3>
	<div class="widget-content">
		<div class="recent-post">
		
		<ul class="feedList static">
		<li class="clearfix">
            <span class="itemDate">                                
            <span class="date">3</span>
            <span class="month">Dec</span>
            </span>
            <span class="itemContent"><span class="title">
            <a href="http://arturmeyster.com/climbing-the-wrong-hill/">My Story - Climbing the Wrong Hill</a>
            </span>
            <span class="desc">"Programming? You’re going to leave a 6-figur ...
            <a href="http://arturmeyster.com/climbing-the-wrong-hill/">View »</a>        
            </span>
            </span>
            </li>
		<li class="clearfix">
			<span class="itemDate">
		          <span class="date">8</span>
                  <span class="month">Dec</span>
            </span>
            <span class="itemContent">
            <span class="title">                                                        
	            <a href="http://arturmeyster.com/hack-reactor-interview/">
	               Hack Reactor Interview Process and Preparation Tips</a>
            </span>
            <span class="desc">After weeks of researching coding bootcamps, I wa ...      <a href="http://arturmeyster.com/hack-reactor-interview/">View »</a>         
            </span>
            </span>
            </li>
            <li class="clearfix">
            <span class="itemDate">                               
            <span class="date">4</span>
            <span class="month">Dec</span>
            </span>
            <span class="itemContent">
            <span class="title">                                                        
            <a href="http://arturmeyster.com/app-academy-vs-hack-reactor/">Part I: What’s a Coding Bootcamp? App Academy vs. Hack Reactor</a>
            </span>
            <span class="desc"> Today is a very SPECIAL day. After month ...
            <a href="http://arturmeyster.com/app-academy-vs-hack-reactor/">View »</a>
            </span>
            </span>
            </li>
            
            </ul>
            </div>
			</div>
			</div>
	</div>
</div>